body {
  /* Путь к вашему изображению */
  background-image: url('../images/background.jpg');
  
  /* Картинка не будет повторяться */
  background-repeat: no-repeat;
  
  /* Картинка растянется на весь экран */
  background-size: cover;
  
  /* Картинка отцентрирована */
  background-position: center;
  
  /* Фон зафиксирован при прокрутке страницы */
  background-attachment: fixed;
  
  /* Цвет-заглушка на случай, если картинка грузится медленно */
  background-color: #7e18899e;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.player-container {
  width: 100%;
  max-width: 730px;
  margin: 20px auto;

  aspect-ratio: 730 / 550;
}

.player-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.player-link {
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-family: sans-serif;
}
